In [1]:
# Import dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import os
import json
from pprint import pprint
from urllib.request import urlopen
import plotly.express as px

In [3]:
# Read in and convert the data to a Pandas DataFrame
cid_file = '../data/counties.csv'
cid = pd.read_csv(cid_file)
cid_df = pd.DataFrame(cid)
cid_df.columns = cid_df.columns.str.replace('county', 'Austin Area Counties')
cid_df.set_index('Austin Area Counties')
cid_df

  Austin Area Counties     id
0               Austin  48015
1             Brazoria  48039
2             Chambers  48071
3            Fort Bend  48157
4            Galveston  48167
5               Harris  48201
6              Liberty  48291
7           Montgomery  48339
8               Waller  48473

In [4]:
county_df = pd.DataFrame({
    'id':[48015, 48039, 48071, 48157, 48167, 48201, 48291, 48339, 48473],
    'Value':[197200, 213100, 224400, 277600, 212600, 189400, 115300, 248100, 222700],
    'Taxes':[9075, 91024, 12245, 192555, 84565, 897913, 21411, 147027, 10798]})

county_df['Value to Tax Ratio'] = county_df.Value / county_df.Taxes

county_df.columns = county_df.columns.str.replace('Value', 'Median Property Value')
county_df.columns = county_df.columns.str.replace('Taxes', 'Median Property Taxes')

county_df

,id,Median Property Value,Median Property Taxes,Median Property Value to Tax Ratio
0,48015,197200,9075,21.730028
1,48039,213100,91024,2.341141
2,48071,224400,12245,18.325847
3,48157,277600,192555,1.441666
4,48167,212600,84565,2.514042
5,48201,189400,897913,0.210934
6,48291,115300,21411,5.385082
7,48339,248100,147027,1.687445
8,48473,222700,10798,20.624190

In [5]:
county_df = pd.merge(cid_df, county_df, how='left', on='id')
county_df

,Austin Area Counties,id,Median Property Value,Median Property Taxes,Median Property Value to Tax Ratio
0,Austin,48015,197200,9075,21.730028
1,Brazoria,48039,213100,91024,2.341141
2,Chambers,48071,224400,12245,18.325847
3,Fort Bend,48157,277600,192555,1.441666
4,Galveston,48167,212600,84565,2.514042
5,Harris,48201,189400,897913,0.210934
6,Liberty,48291,115300,21411,5.385082
7,Montgomery,48339,248100,147027,1.687445
8,Waller,48473,222700,10798,20.624190

In [6]:
#
with urlopen('https://raw.githubusercontent.com/plotly/datasets/master/geojson-counties-fips.json') as response:
    county_data = json.load(response)

In [7]:
import plotly.figure_factory as ff
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)

In [8]:
# Set the central location parameters
alat = 29.749907
alon = -95.358421

# Create the map plot
cmap = px.choropleth_mapbox(
    county_df,
    geojson=county_data, 
    locations='id', 
    color='Median Property Value to Tax Ratio',
    color_continuous_scale=['red', 'green'],
    mapbox_style='carto-positron',
    zoom=7,
    center= {"lat": alat, "lon": alon},
    opacity=0.5,
    labels={'Houston Area Counties': 'Median Property Value to Tax Ratio'},
    title='Median Property Value to Tax Ratio'
)
cmap.update_layout(margin={"r":0,"t":0,"l":0,"b":0})

# Save the figure
cmap.write_image('Data Visuals/austin_counties_mapplot.png')

ValueError:
Image export using the "kaleido" engine requires the kaleido package,
which can be installed using pip:
    $ pip install -U kaleido